[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
notebook = "*"
lxml = "*"
boto3 = "*"
paramiko = "*"
scikit-learn = "*"
geopy = "*"
faiss-cpu = "*"
pycountry = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.12"
